<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>checkerboard with variable vertical and horizental axis</title>
</head>
<body>
  <main>
    <div class="checkerboard">
      {% for i in range (row) %} <!--this loop for the horizental line-->
        {% for j in range (line) %} <!--this loop for the vertical line-->
          {% if (i + j)%2 ==0 %}
            <p class="white-box"></p>
          {% else %}
            <p class="black-box"></p>
          {% endif %}
        {% endfor %}
        <br>
      {% endfor %}
    </div>
  </main>
</body>
</html>