<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <style>
      .container {
        display: flex;
        justify-content: space-around
      }

      .loop {
        width: 100px;
        height: 90px;
        border: black;
        border-style: solid;
        background-color: {{colour}};
      }
    </style>
  </head>
  <body>
    <main>
      <h3 style="text-align: center">Welcome!</h3>
      <div class="container">
        {% for x in range (0,number) %}
          <div class="loop"></div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
